@page "/transactionSuccessful"
<PageTitle>Transaction</PageTitle>

 <div class="transaction-success">
   <div class="one"><span class="for">Transaction Successful</span></div>
   <div class="two"> <img src="./room3.jpg" alt="successful image transaction"> </div>
   <div class="three"><span class="for">You have booked room number 2</span></div>
 </div>   

@code {

}
