@page "/interview"


<h1>Interview</h1>
<video id="cameraStream" autoplay></video>
<button id="startRecording">Start Recording</button>
<button id="stopRecording">Stop Recording</button>
@*<video id="cameraStream" autoplay></video>*@


@code {

}
