@inherits LayoutComponentBase 

<div class="body">
    <div class="hotel-room-head">
        <div style="font-size: larger;">&nbsp;<span style="color: red;">Liberty</span>&nbsp; Villa</div>
        <div>
 
            <a href="rooms"><input type="button" value="Register"></a>
            <a href="#"><input type="button" value="Login"></a>
        </div>
    </div>


    <div class="hotel-body">  
                   @Body          
    </div>
</div>

@*
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
